*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width:100%;
    /* height: 100vh; */
position: relative;
animation: changes 13s  ease-in-out infinite;

}
@keyframes changes{
    0%
    {
        background:rgb(235, 152, 165) ;
}
50%{
    background: rgb(15,159,202);
}
100%{
    background: #b3dbd3;
}
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.5rem;
    /* border: 0.25rem solid white; */
    /* border-radius: 2.1rem; */
    position: absolute;
   margin-top:3rem;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem 3.5rem;
}


img{
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100vh;
}
.navbar{ 
     background-color: white;
     /* position: absolute; */
   display: flex;
    bottom: 0;
    overflow-x: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.nav-link{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    /* white-space: nowrap; */
    font-family: sans-serif;
    font-size: 1rem;
    color: gray;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
.nav-link:hover{
    color: #009578;
}



